*{
    margin: 0;
    padding: 0;
}

main{
    min-height: 100% !important;
}

.background{
    background-image: url("../image/background-search.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
}
.banner, .banner-pencarian{
    margin-bottom: 40px !important;
}
.default{
    padding: 10% 5% 15% 5% !important;
}
.pembungkus{
    height: 450px !important;
}
.note{
    margin-top: 30px !important;
}
.pageCari, .pageBooking, .pageKeranjang{
    margin-top: 40px !important;
}